@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*
{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 25, 0, 0.69);
    margin: 0;
    overflow: hidden;
    padding: 20px;

}

.container{
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
    border-radius: 10px;
    width: 800px;
    max-width: 100%;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2) ,0 6px rgba(0, 0, 0, 0.1);
}

h3{
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;

}

.joke{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    max-width: 600px;
    margin: 50px auto;
}

.btn{
    background-color: rgba(255, 25, 0, 0.85);
    border: 0;
    color: #fff;
    font-size: 16px;
    padding: 15px 40px;
    border-radius: 40px;
    cursor: pointer;
    font-family: inherit;
    transition: opacity 0.2s ease;

}

.btn:hover{
    opacity: .9;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus{
    outline: none;
}